<div class="mt-4">
    <form method="post">
        <div class="form-group">
            <label for="search">Key word</label>
            <input type="text" class="form-control" name="q" id="search" placeholder="Enter key word">
            <select name="gender" id="">
                <option value="">--Select gender--</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>